
body{ 
margin:0%;
font-family: system-ui;

}
.nav{
background-color: aqua;
background-image: url(background.jpg);
height: 600px;
background-size: cover;
padding-top: 1%;


}
.header{
display:flex;
gap:5%;
font-size: 20px;
color: white;
margin-top: 4%;
  
} 
.headerbutton{
gap:2%;
margin-left: 30%;


}
#logbutton{
color:#339af0;
border-color: #339af0;
padding: 10px 20px;
border-radius: 30px;

}
#signbutton{
background-color: #339af0;
color: white;
border-style: none;
padding: 10px 20px;
border-radius:30px ;

}
.landing{
color:black;
font-size: 20px; 
 padding-top: 200px;
 text-align: center;
 margin-bottom: 7%;

}

#hotel{
color: #339af0;
}
.search{
background-color:white;
border-radius: 50px;
width: 40%;
padding-top: 15px;
padding-bottom: 15px;
margin-left: 30%;
padding-left: 40px;
padding-right: 40px;
display: flex;
}
#color{
background-color: #339af0;
}
#advert{
text-align: center;
font-size: 50px;
}
.hotels{
display: flex;
gap: 3%;
margin-left: 50px;

}
.travel{
position: relative;
}

.pool{
height: 300px;
width: 400px;
position: relative;
}
.rome{
height:300px;
width:350px ;
position: relative;
}
.name{
display: flex;
gap:15%;
text-align: center;
top: 10%; 
margin-left: 50px;
}
#seemorebutton{
border-color: #339af0;
color: #339af0;
margin-left: 40%;
padding:20px;
border-radius: 20px;

}
#facilities{
text-align: center;
font-size: 40px;
}
.facilitiesIcons{
display: flex;
gap: 15%;

}
.facilitiesicons{
display: flex;
gap: 15%;

}

#image{
height:100px;

}
#imagee{
height:300px;
margin-bottom: 0%;
}
.textonrooms{
text-align: center;
font-size: 18px;
}
.Rooms{
display: flex;
gap: 8%;

}
.rooms{
display: flex;
gap:8%;
margin-top: 10%;
}
#room{
height: 200px;

}
#star{
color: #339af0;

}
#button{ 
color: white;
padding:20px 30px;
border-radius:15px ;
border-style: none; 
background-color: #339af0; 
} 
.Menu{
text-align: center;
font-size: 18px;
}
#blue{
color: #339af0;
}
.meals{
display: flex;
margin-left: 40%;
gap: 4%;
}
.Meals{
display: flex;
gap: 8%;
}
.Meals2{
display: flex;
gap: 8%;
margin-top:4% ;
}
#delicacy{
height:200px;

}
#delicacyrice{
height:200px;
width: 300px;
}
#rice{
height: 200px;
width: 300px;
}
#pasta{
height: 200px;
}
#designer{
border-radius: 60%;
height: 60px;
}
#developer{
border-radius: 60%;
height: 60px;

}
#softwaredev{
border-radius: 60%;
height:60px;

}
.clients{
display: flex;
gap: 13%;
margin-left: 12%;

}
#arrow{
margin-left: 40%;
}
.content{
/* display:flex;/ */
/* margin-top: 7%; */
/* margin-top: 20%; */    
    
}

.subscribe{
margin-left: 3%;
background-color: #339af0;
border-radius: 13%;
/* display: flex; */
gap: 10%;
margin-top: 6%;
}
#email{

border-radius: 30px;
border-style:none;
display: flex;
padding-left:40px ;
padding-right: 40px;
padding-top: 15px;
padding-bottom:15px ;
float: right;
}
.More{  
display: flex;
gap:10%;
}
body{
background-color:lavender
}
.about{
margin-left: 40%;
display: flex;
gap: 10%;
}
.buttons{
margin-left: 64%;
gap: 7%;
}
/* about */
.paragraph{
display: flex;

}
.header2{
    display:flex;
    gap:5%;
    font-size: 20px;
   
      
} 
.headerbutton{
    gap:2%;
    margin-left: 30%;
    
}
#logbutton{
    color:#339af0;
    border-color: #339af0;
    padding: 10px 20px;
    border-radius: 30px;

}
#signbutton{
    background-color: #339af0;
    color: white;
    border-style: none;
    padding: 10px 20px;
    border-radius:30px ;

} 
#lake{
    height:350px;
    width: 400px;
    margin-left: 10%;
    border-radius: 2%;
}
.introimages{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 6%;
}
.set2images{
display: grid;
grid-template-columns: repeat(3,3fr);
gap: 5%;
height: 20px;
padding-top:10px;
}
#entrance{
    height:100px;
    width:140px;
    border-radius: 10px;
}
#lobby{
    height: 100px;
    border-radius: 10px;
}
#bedroom{
    height:100px;
    border-radius: 10px;
}
#bathroom{
    height: 100px;
    border-radius: 10px;
}
#seasons{
    height: 95px;
    width: 150px;
    border-radius: 10px;
}
#hongkong{
    height: 90px;
    border-radius: 10px;

}
#bishop{
    height: 120px;
    width: 140px;
    border-radius: 10px;

}
#resort{
    height: 119px;
    width: 150px; 
    border-radius: 10px;   
}
#sitting{
    height: 120px;
    width:150px ;
    border-radius: 10px;
    
}

#seemore{
    background-color: #339af0;
    border-style: none;
    border-radius: 10px;
    color:white;
    float: right;
    margin-right: 70px;
}
.details{
    display: flex;
}
.Services{
    display: flex;
     gap: 4%; 
     float: right;
     margin-right: 60px;
}
/* .Food{
  
    float: right;
}
.facilities{
    float: right; 
 }  */
 #booknow{
    border-style: none;
    background-color: #339af0;
    padding: 10px;
    margin-top: 3%;
    margin-left: 2%;
 }
#notnow{
border-color: #339af0;
padding: 10px;
}
#lorem{
margin-left: 180px;
}
.firstparagraph{
display: flex;
gap: 5%;
}
#sanimage {
border-radius:60px 0px;
height: 300px;
margin-left: 30px;

}
.secondparagraph{
display: flex;
gap: 5%;
}
#frontdesk{
border-radius:60px 0px;
height: 300px;
margin-left: 30px;
}
.thirdparagraph{
display: flex;
gap: 5%;
}
#Arizona{
height: 300px;
border-radius: 60px 0px;
}
.contact{
margin-left: 400px;

}
.contactinfo{
 display: flex; 
 gap: 3%;
 margin-top: 3%;

}
.message{
border-radius: 0px 0px 40px 0px;
background-color: whitesmoke;
width: 30%;
height: 100px;
margin-left: 30px;

}
#seeMore{
border-radius:5px ;
margin-top: 2%;
/* border-style: none; */
border-color: #339af0;
}

@media(max-width:768px){ 
.header{
display: flex;
gap:1%;
font-size: 10px;
}
#logbutton{
color:#339af0;
border-color: #339af0;
padding: 5px 10px;
border-radius: 10px;

}
#signbutton{
background-color: #339af0;
color: white;
border-style: none;
padding: 5px 10px;
border-radius:10px ;

}
/* .headerbutton{
margin-left:4%;
gap:0%;
} */
.landing{
font-size: 3px;
color: white;
}
.search{
background-color:white;
border-radius: 50px;
width: 40%;
padding-top: 5px;
padding-bottom: 5px;
margin-left: 30%;
padding-left: 20px;
padding-right: 20px;
}
.travel{
height: 100px;
}

.pool{
height: 100px;
width: 150px;
/* position: relative; */
}
.rome{
height:100px;
width:100px ;

}



}
